@charset "utf-8";
.nobreak {
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden
}

.break {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all
}

.refont {
    direction: rtl;
    unicode-bidi: bidi-override
}

.indent {
    text-indent: -100%;
    overflow: hidden
}

.full {
    width: 100%;
    height: 100%
}

.half {
    width: 50%;
    height: 50%
}

.db {
    display: block
}

.dbi {
    display: inline-block
}

.none {
    display: none
}

.hide {
    visibility: hidden
}

.show {
    visibility: visible
}

.clip {
    overflow: hidden
}

.fl {
    float: left
}

.fr {
    float: right
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.ps {
    position: static
}

.ct {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.cell {
    display: table-cell
}

.iblock {
    font-size: 0;
    white-space: nowrap
}

.iblock li {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    white-space: normal
}

.box {
    width: 100%;
    height: 100%;
    display: block
}

.clear:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.pointer:hover {
    cursor: pointer
}

.border {
    border-width: 1px 0;
    border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAcSURBVHjaBMEBDQAADMMgckv1r20H1WxzoNoPAER9BjAKc4kUAAAAAElFTkSuQmCC) 2 0 stretch;
    -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAcSURBVHjaBMEBDQAADMMgckv1r20H1WxzoNoPAER9BjAKc4kUAAAAAElFTkSuQmCC) 2 0 stretch
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

article, aside, blockquote, body, button, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

blockquote, q {
    quotes: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ol, ul {
    list-style: none
}

fieldset, iframe {
    border: none
}

img {
    -ms-interpolation-mode: bicubic;
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%
}

input {
    padding: 0;
    margin: 0
}

button[disabled], input[disabled] {
    cursor: default
}

textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top
}

input:-ms-clear {
    display: none
}

button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

button::-moz-focus-inner, button::-moz-focus-outer, input::-moz-focus-inner, input::-moz-focus-outer {
    margin: 0;
    padding: 0;
    border: 0
}

input[type=search] {
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

a {
    text-decoration: none
}

:focus, a:active, a:hover {
    outline: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

b, strong {
    font-weight: 400
}

address, cite, dfn, em, i, var {
    font-style: normal
}

code, kbd, pre, samp, tt {
    font-family: consolas, 'Courier New', monospace, serif
}

small {
    font-size: 80%
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

abbr[title], acronym[title] {
    cursor: help;
    border-bottom: 1px dotted
}

body {
    line-height: 2;
    font-size: 12px;
    font-family: "\5FAE\8F6F\96C5\9ED1", Consolas, 'Trebuchet MS', Verdana, Helvetica, Arial, Sans-serif
}

.honey {
    position: relative
}

.container {
    z-index: -4;
    position: relative;
    width: 1600px;
    height: 900px;
    background: url(../../image/bg.png) #ff5216
}

.container .ball-box li {
    position: absolute;
    z-index: -2;
    width: 184px;
    height: 335px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover
}

.container .ball-box li img {
    width: 70%;
    height: auto;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    display: block;
    padding: 4px;
    top: 6%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0
}

.container .ball-box li.small {
    width: 143px;
    height: 290px
}

.container .ball-box li.small img {
    width: 70%;
    height: auto;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    display: block;
    padding: 4px;
    top: 4%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0
}

.container .ball-box li.ball_1 {
    background-image: url(../../image/ball_1.png)
}

.container .ball-box li.ball_1.small {
    background-image: url(../../image/ball_1_small.png)
}

.container .ball-box li.ball_2 {
    background-image: url(../../image/ball_2.png)
}

.container .ball-box li.ball_2.small {
    background-image: url(../../image/ball_2_small.png)
}

.container .ball-box li.ball_3 {
    background-image: url(../../image/ball_3.png)
}

.container .ball-box li.ball_3.small {
    background-image: url(../../image/ball_3_small.png)
}

.container .ball-box li.ball_4 {
    background-image: url(../../image/ball_4.png)
}

.container .ball-box li.ball_4.small {
    background-image: url(../../image/ball_4_small.png)
}

.container .ball-box li.ball_5 {
    background-image: url(../../image/ball_5.png)
}

.container .ball-box li.ball_5.small {
    background-image: url(../../image/ball_5_small.png)
}

.container .ball-box li.ball_6 {
    background-image: url(../../image/ball_6.png)
}

.container .ball-box li.ball_6.small {
    background-image: url(../../image/ball_6_small.png)
}

.container .logo {
    z-index: -2;
    background: url(../../image/logo.png) 0 0/contain no-repeat;
    width: 16%;
    height: 161px;
    position: absolute;
    top: 0;
    left: 30px
}

.container .title {
    z-index: -2;
    background: url(../../image/title.png) center 0/16% auto no-repeat;
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0;
    top: 20px
}

.container .mask {
    display: none;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .3s ease-out;
    transform: translate3D(0, 0, 0)
}

.container .result-20 {
    display: none;
    background: url(../../image/bg-20.png) center center/100% auto no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.container .result-20 .product {
    position: absolute;
    left: 16%;
    top: 27%;
    width: 15%;
    height: 34%
}

.container .result-20 .product li {
    width: 100%;
    height: 50%
}

.container .result-20 .product li:nth-child(1) {
    background: url(../../image/product-2.png) 0 0/auto 100% no-repeat
}

.container .result-20 .product li:nth-child(2) {
    background: url(../../image/product-3.png) 0 0/auto 100% no-repeat
}

.container .result-20 .honey {
    position: absolute;
    left: 27%;
    top: 32%;
    width: 55%
}

.container .result-20 .honey:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.container .result-20 .honey li {
    width: 8%;
    position: relative;
    float: left;
    margin: 0 2% 8% 0
}

.container .result-20 .honey li img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    background-color: #fff;
    border: 4px solid #fff;
    display: block
}

.container .result-20 .honey li span {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100%;
    width: 150%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden
}

.container .result-40 {
    display: none;
    background: url(../../image/bg-40.png) 50% 50%/107% auto no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.container .result-40 .product {
    position: absolute;
    left: 16%;
    top: 18%;
    width: 15%;
    height: 55%
}

.container .result-40 .product li {
    width: 100%;
    height: 25%
}

.container .result-40 .product li:nth-child(1) {
    background: url(../../image/product-1.png) 0 0/auto 100% no-repeat
}

.container .result-40 .product li:nth-child(2) {
    background: url(../../image/product-2.png) 0 0/auto 100% no-repeat
}

.container .result-40 .product li:nth-child(3) {
    background: url(../../image/product-3.png) 0 0/auto 100% no-repeat
}

.container .result-40 .product li:nth-child(4) {
    background: url(../../image/product-4.png) 0 0/auto 100% no-repeat
}

.container .result-40 .honey {
    position: absolute;
    left: 27%;
    top: 21%;
    width: 55%
}

.container .result-40 .honey:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.container .result-40 .honey li {
    width: 8%;
    position: relative;
    float: left;
    margin: 0 2% 5% 0
}

.container .result-40 .honey li img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    background-color: #fff;
    border: 4px solid #fff;
    display: block
}

.container .result-40 .honey li span {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100%;
    width: 150%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden
}

.container .result-tv {
    display: none;
    background: url(../../image/bg-tv.png) 50% 50%/100% auto no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

.container .result-tv .product {
    background: url(../../image/tv.png) 0 0/100% auto no-repeat;
    position: absolute;
    left: 20%;
    top: 25%;
    width: 40%;
    height: 40%
}

.container .result-tv .honey {
    position: absolute;
    right: 25%;
    top: 27%;
    overflow: visible;
    width: 16%
}

.container .result-tv .honey img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    background-color: #fff;
    border: 8px solid #fff;
    display: block
}

.container .result-tv .honey span {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100%;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%
}